<!DOCTYPE html>
<html>
  <head>
    <head>
        <%- include('../partials/head'); %>
    </head>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar_nav'); %>
        <div class="col-sm-10 p-3">
            <h1>All genres:</h1>
            <div class="container-fluid px-4 py-3">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    <% genres.forEach(genre => { %>
                      <div class="col">
                        <a class="text-reset text-decoration-none" href="<%- genre.url %>">
                          <div class="card h-100">
                            <img src="<%= genre.storage %>" class="card-img-top">
                            <div class="card-body">
                              <h4 class="card-title"><%- genre.name %></h4>
                              <p class="card-text"><%- genre.description %></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    <% }) %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>